<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
   <h1>Add a new Idea</h1>
   <form action="/" method="POST">
     Title:<br />
     <input type='text' name='title'/><br />
     Description:<br />
     <textarea name='description'></textarea><br />
     Tags(Comma Delimited): <br/>
     <input type='text' name='tags' /><br />
     <input type='submit' value='Save'/>
   </form>

   <h2>Your ideas</h2>
   <ul>
     <% ideas.each do |idea| %>
       <li id="idea_<%= idea.id %>">
       <form action='/<%= idea.id %>/like' name='_method' value='display: inline'>
	   <input type='submit' value='+' />
       </form>
       <%= idea.rank %>: <%= idea.title %>-<%= idea.description %><br />
       <% unless idea.tags == "no tags" %>
	 <% idea.tags.each do |tag| %>
	   <a href="/tags/<%= tag.gsub " " , "%20" %>"><%= tag %></a>,
         <% end %>
       <% end %>
	 <a href="/<%= idea.id %>">Edit</a>
	 <form action='/<%= idea.id %>' method='POST'>
	   <input type='hidden' name='_method' value='DELETE'>
	   <input type='submit' value='Delete'>
	 </form>
       </li>
     <% end%>
   </ul>
   </body>
</html>

