<h1>Ideas Sorted By Hours</h1>
   <% ideas.each do |hour, ideas| %>
     <% next if ideas.empty? %>
     <ul id="hour_<%=hour %>"><h3>Ideas for Hour <%=hour %></h3>
       <% ideas.each do |idea| %>
         <li id="idea_<%= idea.id %>">
         <form action='/<%= idea.id %>/like' name='_method' value='display: inline'>
	     <input type='submit' value='+' />
         </form>
         <%= idea.rank %>: <%= idea.title %>-<%= idea.description %><br />
         <% unless idea.tags == "no tags" %>
	   <% idea.tags.each do |tag| %>
	      <a href="/tags/<%= tag.gsub " " , "%20" %>"><%= tag %></a>,
           <% end %>
         <% end %>
	 <a href="/<%= idea.id %>">Edit</a>
	 <form action='/<%= idea.id %>' method='POST'>
	   <input type='hidden' name='_method' value='DELETE'>
	   <input type='submit' value='Delete'>
	 </form>
       </li>
       <% end%>
   </ul>
   <% end %>
